<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anita Ganti's Tech Blog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<header>
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" href="/">Anita Ganti's Tech Blog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if loggedIn}}
                <li><a href="/" class="">homepage</a></li>
                <li><a href="/dashboard">dashboard</a></li>
                <li><a href="/dashboard/create/">create post</a></li>
                <li><button id="logout" class="btn hoverable">logout</button></li>
                {{else}}
                <li><a href="/" class="navbar-item is-hoverable pt-1">homepage</a></li>
                <li><a href="/login" class="btn hoverable">login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
</header>

<main>
    {{{ body }}}
</main>

<footer class="page-footer">
    <div class="">
        <p>
            <a class="white-text" href="/">Back to homepage</a>{{#if loggedIn}} |
            <a class="white-text"  href="/dashboard/">Back to dashboard</a> |
            <a class="white-text" href="/dashboard/create/">create new post</a>
            {{else}}
            | <a class="white-text" href="/login/">login</a>
            {{/if}}
        </p>
        <a class=" white-text has-text-centered">© 2020 Made with love by Hadeda</a>
          </div>
</footer>


{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</body>

</html>